# The CakePHP framework will be added as /cakephp so this entry just
# prevents us from accidentally commiting the default /cake location
/cake

# prevent temporary files from ending up in our repo
/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/cache/views/*
/app/tmp/logs/*
/app/tmp/sessions/*
/app/tmp/tests/*

# user should add own database.php
/app/config/database.php